html {
    text-align: center;
    direction: ltr;
    font-size: 1em;
}

header {
    background-color: rgb(42, 157, 143);
}

body {
    background-color: rgb(38, 70, 83);
}

h1 {
    color: rgb(231, 111, 81);
    font-family: cursive;
    font-size: 6rem;
    text-shadow: rgb(38, 70, 83) 3px 3px 2px;
    padding-bottom: 1vh;
    position: relative;
}

.dates {
    color: whitesmoke;
}

#search {
    box-sizing: border-box;
    min-width: 360px;
    width: 50%;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(42, 157, 143);
    display: flex;
    align-items: center;
    margin: auto;
    padding: 2em;
    border-radius: 2em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.btn_div {
    align-content: space-between;
    grid-column: 2;
    grid-row: 1 / span 3;
    margin: auto;
}

.input {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: flex-end;
}

.btn-warning {
    color: white;
    font-weight: bold;
}

#src_form {
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
}

#results {
    box-sizing: border-box;
    width: 50vw;
    min-width: 360px;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(42, 157, 143);
    margin: auto;
    padding: 2em;
    border-radius: 2em;
    display: block;
}

h3 {
    color: rgb(233, 196, 106);
    padding: 1.5rem;
    font-size: 1.5rem;
}

h4 {
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: aliceblue;
    font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
    #src_form {
        display: inline;
    }
}